/* Здесь вы напишете основную часть стилей страницы.


Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки


Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.


*/


.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-weight, 400);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  color: var(--accent-color);
}


.content {
  max-width: 700px;
  width: 100%;
  margin: 0px auto;
}


.header {
  margin-block-start: 102px;
  margin-block-end: 104px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color, #000);
}


.header__title-container {
  width: 100%;
  padding-top: clamp(120px, 10.4167vw, 136px);
  font-family: var(--accent-font);
}


.header__title {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--main-font-weight);
  font-size: clamp(49px, -0.0783rem + 4.6009vw, 65px);
  margin-block-end: 20px;
}


.header__subtitle {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--main-fony-weight);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: normal;
}


.theme-menu {
  display: flex;
  padding-block-start: 25px;
  padding-block-end: 25px;
  justify-content: center;
}


.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--accent-font);
}


.theme-menu__button {
  padding-inline-start: 25px;
  font-weight: var(--main-font-weight);
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
}


.theme-menu__button:hover {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.6;
}


.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}


.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: opacity 0.3 ease;
}


.theme-menu__button:focus-visible:focus {
  outline: none;
  opacity: 0.6;
}


.theme-menu__button::after {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--accent-color);
  width: 0%;
  transition: width 0.3s;
}


.theme-menu__button:focus-visible::after {
  width: 100%;
}


.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: 5px;
  animation: shifting-arrow 0.5s infinite ease-in-out;
}




































/* ----------------------cards--------------------- */


.content__card {
  margin-block-end: 57px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color, #000);
  font-size: 18px;
}


.content__card-title {
  font-family: var(--main-font, Inter), Arial, Helvetica, sans-serif;
  font-weight: var(--header-font-weight);
  font-size: 18px;
  line-height: normal;
  padding: 6px 12px 6px 10px;
  font-variation-settings: "wght" var(--accent-weight, 700);
}


.image-container {
  background-image: cover;
  position: relative;
}


.lable {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  color: var(--accent-color);
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 2;
}


@supports (
  (text-stroke: 1px var(--bg-color)) or
    (-webkit-text-stroke: 1px var(--bg-color))
) {
  .lable {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}


img {
  width: 100%;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}


.content__text-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  font-family: var(--main-font, Inter), Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: var(--main-font-weight);
  line-height: 21px;
}


.content__button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}


button {
  background-color: transparent;
  outline: none;
  border: none;
  font-family: var(--accent-font);
}


button:hover {
  cursor: pointer;
}


.card__icon-button {
  transition: outline 0.3s ease;
  line-height: 90%;
}


.card__icon-button:focus {
  outline: none;
}


.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: -3px;
  transition: outline 0.3s ease;
}


.like-icon {
  align-self: center;
}


.card__like-button {
  width: 130px;
  padding: 9px 17px;
  text-align: center;
  font-size: 14px;
  line-height: 90%;
  border: 2px solid var(--accent-color);
}


.button-focus:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow 0.3s;
}


.button-focus {
  overflow: hidden;
  transition: transform 0.3s;
}


.button-focus:hover {
  transition: transform 0.3s;
  transform: translateX(0);
}


 .button-focus:hover  .button-text {
  mix-blend-mode: hard-light;
  transition: color 0.3s;
  color: var(--bg-color);
  z-index: 2;
}


.button-focus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.3s;
}


.button-focus:hover::before {
  transform: translateX(0);
  transition: transform 0.3s;
}


.button-svg {
  width: 21px;
  height: 21px;
}


.save-button {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  background-color: var(--bg-color);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  border: 2px solid var(--accent-color);
  width: 335px;
  height: 51px;
  margin-block-end: 100px;
}


.save-button:focus {
  outline: none;
}


.dialog {
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 2px solid var(--accent-color, #000);
  gap: 30px;
  padding: 30px;
  background-color: var(--bg-color);
  color: var(--accent-color)
}


.dialog__content {
  display: flex;
  gap: 20px;
  font-size: 14px;
  font-family: var(--accent-font);
  text-transform: uppercase;
}


.dialog__svg-icon {
  width: 39px;
  height: 39px;
  align-self: center;
}


.dialog-text {
  width: 234px;
  line-height: 150%;
}


.dialog__close-button {
  width: 298px;
  height: 38px;
  border: 2px solid var(--accent-color, #000);
  text-transform: uppercase;
}


dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}


dialog:not([open]) {
  display: none;
  pointer-events: none;
  opacity: 0;
}


@media (width <= 375px) {


  .save-button {
    flex-direction: column;
    min-height: 80px;
    /* width: clamp(306px, 22.72vw + 30px, 335px); */
    width: 85%;
  }


  .button-svg {
    width: 28px;
    height: 28px;
  }


  .dialog__close-button {
    width: 100%;
  }
}


.filter-multi {
  filter: brightness(300%) grayscale(0.8) opacity(1) hue-rotate(-30deg);;
}


.filter-blur {
  filter: blur(3px);
}


.filter-sepia {
  filter: sepia(80%);
}


.filter-saturate {
  filter: saturate(300%);
}


.filter-invert {
  filter: invert(0.7);
}


.filter-hue-rotate {
  filter: hue-rotate(-90deg);
}


.filter-brightness {
  filter: brightness(100%);
}


.filter-grayscale {
  filter: grayscale(0.8);
}