/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --bg-color: #FFFFFF;
    --accent-color: #000000;
    --main-font: "Inter";
    --accent-font: "Press Start 2P";
    --main-font-weight: 400;
    --header-font-weight: 700;
    --red-fill-color: #f00;
    --black-fill-color: #000;
    --grad-line-color: #d3d3d3;
    --grad-start-color:  #e7e7e7;
    --grad-end-color: #1a1a1a;
    --button-text-color: #FFF;
    --background-image:
        repeating-linear-gradient(to left, #d3d3d3 0 2px, #d3d3d300 2px 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}